In [56]:
import random as rdm
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("doencas.csv")
df.head()

   id  genero        data         cidade    estado        doenca
0   1  Female  31/01/2000       Brooklyn  New York        Virose
1   2  Female  16/10/1999         Topeka    Kansas          Zika
2   3  Female  10/10/1999    Schenectady  New York        Virose
3   4  Female  09/01/2000  New York City  New York  Conjuntivite
4   5    Male  03/11/1999       Syracuse  New York  Conjuntivite

# K-Anonimato

## Joining the locality attributes

In [58]:
ids = df.id
cidades = df.cidade
estados = df.estado

In [59]:
locality = []
for i in range(len(cidades)):
    locality.append([ids[i], str('{}, {}'.format(cidades[i], estados[i]))])

In [60]:
df_locality = pd.DataFrame(locality, columns=['id', 'localidade'])
df_locality.head()

   id               localidade
0   1       Brooklyn, New York
1   2           Topeka, Kansas
2   3    Schenectady, New York
3   4  New York City, New York
4   5       Syracuse, New York

## Joining the dataframes

In [61]:
join_dataset = pd.concat([df, df_locality], axis=1, join='inner')
join_dataset.head()

,id,genero,data,cidade,estado,doenca,id,localidade
0,1,Female,31/01/2000,Brooklyn,New York,Virose,1,"Brooklyn, New York"
1,2,Female,16/10/1999,Topeka,Kansas,Zika,2,"Topeka, Kansas"
2,3,Female,10/10/1999,Schenectady,New York,Virose,3,"Schenectady, New York"
3,4,Female,09/01/2000,New York City,New York,Conjuntivite,4,"New York City, New York"
4,5,Male,03/11/1999,Syracuse,New York,Conjuntivite,5,"Syracuse, New York"

## Removing attributes

In [62]:
dataset = join_dataset.drop(columns = ['id', 'estado', 'cidade'])
dataset.describe()

       genero        data  doenca               localidade
count     400         400     400                      400
unique      2         160       5                       24
top      Male  22/10/1999  Dengue  New York City, New York
freq      204           6      87                      103

## Date generalization function

In [63]:
def date_generalization(dataset, level):
    if level == 1:
        # date '**/MM/YYYY'
        for data in range(len(dataset)):
            dataset.iloc[data]['data'] = str('**' + dataset.iloc[data]['data'][2:10])
    elif level == 2:
        # date '**/**/YYYY'
        for data in range(len(dataset)):
            dataset.iloc[data]['data'] = str('**/**' + dataset.iloc[data]['data'][5:10])
    elif level == 3:
        # date'**/**/****'
        for data in range(len(dataset)):
            dataset.iloc[data]['data'] = str('**/**/****')
        
    return dataset

In [64]:
def locality_generalization(dataset, level):
    if level == 0:
        # locality 'city'
        for data in range(len(dataset)):
            place = dataset.iloc[data]['localidade'].split(',')
            dataset.iloc[data]['localidade'] = place[0] + ","+place[1]
    elif level == 1:
        # locality 'state,'
        for data in range(len(dataset)):
            place = dataset.iloc[data]['localidade'].split(',')
            dataset.iloc[data]['localidade'] = "**," + place[1]
    elif level == 2:
        # locality '*'
        for data in range(len(dataset)):
            dataset.iloc[data]['localidade'] = '*'
        
    return dataset

In [65]:
def gender_generalization(dataset, level):
    if level == 1:
        # gender '*'
        for data in range(len(dataset)):
            dataset.iloc[data]['genero'] = '*'
            
    return dataset

## Precision metric

$precision (D, Na, h, HGVA) = 1 - \frac{\sum_{i=1}^{Na} \sum_{j=1}^{|D|} \frac{h}{HGVA_i}}{|D| * Na}
$

- D: dataset
- Na: number of semi-identifier attributes
- h: height of attribute value generalization hierarchy Ai after generalization
- |HGVAi|: maximum height of hierarchy

In [66]:
def precision(D, Na, HGVA):
    h = []
    summation = 0
    for j in range(len(D)):
        data = D.iloc[j]["data"].count('*')
        localidade = D.iloc[j]["localidade"].count('*')
        genero = D.iloc[j]["genero"].count('*')
        
        h_data = 0
        if data == 2:
            h_data = 1
        elif data == 4:
            h_data = 2
        elif data == 8:
            h_data = 3
            
        h_localidade = 0
        if   localidade == 1:
            h_localidade = 2
        elif localidade == 2:
            h_localidade = 1
            
        h_genero = 0
        if genero == 1:
            h_genero = 1
            
        h.append([h_data, h_genero, h_localidade])
    
    for i in range(Na):
        for j in range(len(D)):
            summation += (h[j][i] / (HGVA[i]))
    
    return 1 - (summation / (len(D) * Na))

# Tree generalization

In [67]:
def treeGeneralization():
    # data, genero, localidade
    return [(a,b,c) for a in range(4) for b in range(2) for c in range(3) ]

# Generating anonymization

In [69]:
def deltaPresenca(dataset, publico, minimo, maximo):
    
    for generalizacao_atual in treeGeneralization():
        
        ds = date_generalization(dataset.copy(), generalizacao_atual[0])
        ds = gender_generalization(ds, generalizacao_atual[1])
        ds = locality_generalization(ds, generalizacao_atual[2])
        
        ###
        # Colocar aqui a função que verifica se o dataset está entre o minimo e maximo
        if (True):
            ###
            # Salvar dataframe
            calculate_precision = float("{0:.4f}".format(precision(ds, 3, [3, 1, 2])))
            print("{} => {}".format(generalizacao_atual,calculate_precision))

deltaPresenca(dataset.copy(), [], 0,0)

(0, 0, 0) => 1.0
(0, 0, 1) => 0.8333
(0, 0, 2) => 0.6667
(0, 1, 0) => 0.6667
(0, 1, 1) => 0.5
(0, 1, 2) => 0.3333
(1, 0, 0) => 0.8889
(1, 0, 1) => 0.7222
(1, 0, 2) => 0.5556
(1, 1, 0) => 0.5556
(1, 1, 1) => 0.3889
(1, 1, 2) => 0.2222
(2, 0, 0) => 0.7778
(2, 0, 1) => 0.6111
(2, 0, 2) => 0.4444
(2, 1, 0) => 0.4444
(2, 1, 1) => 0.2778
(2, 1, 2) => 0.1111
(3, 0, 0) => 0.6667
(3, 0, 1) => 0.5
(3, 0, 2) => 0.3333
(3, 1, 0) => 0.3333
(3, 1, 1) => 0.1667
(3, 1, 2) => 0.0